#givemeareasonbutton {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url(../images/give-me-a-reason-ms.png);
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

#givemeareasonbutton:disabled{
    opacity: 0.6;
    cursor: url(../images/Sun_symbol.svg), wait;
}

#givemeareasonbutton.loading{
    background-image: url(../images/give-me-a-reason-loading-voices.png);
    cursor: url(../images/Sun_symbol.svg), wait;
}

body{
    background-color: #fff;
    padding: 50px;
    font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #727272;
    font-weight: 400;
}
